*{
  box-sizing: border-box;
}*

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F2F1F4;
}

h2 {
  font-size: 1.4em;
  background-color: #30a893;
  padding: em;
  color: white;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', sans-serif;
}

nav {
  font-size: 1.6em;
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: #30a893;
}

header {
  text-align: center;
}

ul {
  padding: 0;
  margin-bottom: 0;
}

li {
  list-style-type: none;
  padding: 2em;
}

a {
  text-decoration: none;
}

nav a {
  color: white;
}

.container2{
  width: 100%;
  margin: auto;
}

.photo img {
  width: 100%;
}

.sidetext h2 {
  margin: 1em;
}

.sidetext {
  background-color: #B6D47E;
  padding-bottom: 2em;
  display: none;
  width: 100%;
  margin: auto;
}

.maincont {
  width: 80%;
  margin: auto;
}

@media only screen and (min-width: 600px) {
  .sidetext{
    display: block;
    padding: 1em;
  }

  .contnav {
    width: 100%;
    margin: auto;
  }

  nav li {
    display: inline-block;
  }
}

@media only screen and (min-width: 768px) {

  .container2 {
    float: left;
    width: 75%;
    padding: 2em;
  }

  .sidetext{
    float: right;
    width: 25%;
  }
}
